@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.85) translateY(20px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.75) translateY(40px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes letterOpen {
  0% {
    transform: scale(0.7) rotateX(40deg);
    opacity: 0;
  }

  100% {
    transform: scale(1) rotateX(0);
    opacity: 1;
  }
}

.animate-modalIn {
  animation: modalIn 0.45s ease;
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease forwards;
}

.animate-float {
  animation: float linear infinite;
  will-change: transform;
}

@keyframes float2 {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateY(-120vh) scale(1.4);
    opacity: 0;
  }
}

.animate-float2 {
  animation: float2 linear infinite;
}

@keyframes heartFloat {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(-120vh) scale(1.4);
    opacity: 0;
  }
}

.animate-heartFloat {
  animation: heartFloat linear infinite;
}

@keyframes scrollDot {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}

.animate-scrollDot {
  animation: scrollDot 1.5s infinite;
}

@keyframes float3 {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(-120vh) scale(1.4);
    opacity: 0;
  }
}

.animate-float3 {
  animation: float3 linear infinite;
}

.perspective {
  perspective: 1000px;
}

@keyframes flip5 {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(-90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.animate-flip5 {
  animation: flip5 0.7s ease-in-out;
}